
.App-header {
  height: 20vh;
  overflow: hidden;
  display: flex;
  border-bottom: solid red;
  color: red;
}

.App-body{
  height: 63vh;
  padding: 1rem;
  
}


.App-footer p {
  height: 5vh;
  overflow: hidden;
  border-top: solid red;
  font-style: italic;
  text-align: center;
  padding: 0.2rem;


}